body {
  background-color: #1d0259;
  color: antiquewhite;
}

.box {
  border: 2px solid antiquewhite;
}

.box:hover {
  background-color: antiquewhite;
  transition: 0.5s;
}

.box:hover > .switch {
  background-color: #1d0259;
  transition: 0.5s;
}

.box:hover > .switch::before {
  content: "🌞";
  filter: brightness(100%);
}

.switch {
  background-color: antiquewhite;
  margin-left: 40px;
}

.switch::before {
  content: "🌞";
  font-size: .7em;
  margin-left: 3px;
}