body {
  background-color: antiquewhite;
  color: #1d0259;
}

.box {
  border: 2px solid #1d0259;
}

.box:hover {
  background-color: #1d0259;
  transition: 0.5s;
}

.box:hover > .switch {
  background-color: antiquewhite;
  transition: 0.5s;
}

.box:hover > .switch::before {
  content: "🌙";
  filter: invert();
}

.switch {
  background-color: #1d0259;
  margin-right: 40px;
}

.switch::before {
  content: "🌙";
  font-size: .6em;
  margin-left: 3px;
}
